@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600&display=swap');

html {
  font-size: 16px;
}

.footer {
  background-color: #F9F9F9;
  width: 1519px;
}

.foo-title h1 {
  font-size: 2.1875rem;
  margin-left: 9%;
  max-width: 31.25rem;
  color: #000;
}

.foo-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  margin-left: 9%;  
  margin-right: 9%;
}

.foo-left h1 {
  color: #af0c48;
  margin-bottom: 3.125rem;
  margin-left: 10%;
  font-size: 1.25rem;
}
.foo-right {
  display: flex;
  align-items: center;
}

.foo-right h2 {
  font-size: 1.125rem;
  margin-right: 0.9375rem;
  margin-bottom: 3.125rem; 
  cursor: pointer;
}

.Github {
  color: #00ab6b;
}

.Linkedin {
  color: #0077b5;
}


.foo-right h2:last-child {
  margin-right: 0;
}

.footer.dark {
  background-color: #141414;
  color: #000;
}

.foo-left.dark h1 {
  color: #BAB2E7;
}

.Linkedin.dark {
  color: #0000ff;
}

.Github.dark {
  color: #00ff00;
}

.foo-right.dark h2 {
  color: #fff;
}

.foo-left.dark h1 {
  color: #BAB2E7;
}
@media screen and (max-width: 500px) {
  .foo-bottom {
    flex-wrap: wrap;
    justify-content: center;
  }

  .foo-left {
    width: 100%;
    text-align: center;
    margin-bottom: 1.25rem;
  }

  .foo-left.dark {
    color: #fff;
  }

  .foo-right {
    width: 100%;
    text-align: center;
  }

  .foo-right.dark {
    color: #fff;
  }
}
